In [1]:
import pandas as pd
import numpy as np
data={
    "Age": [25, np.nan, 30, 22, np.nan],
    "Gender": ["Male", "Female", np.nan, "Male", "Female"],
    "Score": [85, 90, np.nan, 70, 88]
     }
df=pd.DataFrame(data)
print(df)

   Student  Maths  Science  English  Attendence      City
0    Alice   85.0     90.0      NaN        95.0  New York
1      Bob   78.0      NaN     88.0        80.0       NaN
2  Charlie   92.0     85.0     90.0         NaN    London
3    David    NaN     75.0     78.0        70.0     Paris
4      Eva   88.0     94.0      NaN        88.0       NaN
5    Frank   80.0     78.0     86.0        90.0  New York
6    Grace    NaN     88.0     99.0        95.0    London