In [3]:
import pandas as pd
import numpy as np
data={
    "Age": [25, np.nan, 30, 22, np.nan],
    "Gender": ["Male", "Female", np.nan, "Male", "Female"],
    "Score": [85, 90, np.nan, 70, 88]
     }
df=pd.DataFrame(data)
df.to_csv("output.csv", index=False)
print(df)

    Age  Gender  Score
0  25.0    Male   85.0
1   NaN  Female   90.0
2  30.0     NaN    NaN
3  22.0    Male   70.0
4   NaN  Female   88.0